doctype html
head
  title= title
  meta(charset='UTF-8')
  style
    include ../src/styles.css 
body
  h1= message

  
  table#table1
    tr
      th 
      th 
      th
      th
      th
    tr
      th 
      th
      th
      th
      th
    tr
      th 
      th
      th
      th
      th
    tr
      th 
      th
      th
      th
      th
    tr
      th 
      th
      th
      th
      th
  
  script
    include ../src/game.js

    

